version: "3.8"

services:

  postgres:
    image: postgres:15
    container_name: document-postgres
    restart: unless-stopped

    environment:
      POSTGRES_DB: document_db
      POSTGRES_USER: document_user
      POSTGRES_PASSWORD: document_pass

    ports:
      - "5433:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U document_user -d document_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
